<p class="lead">Welcome to the agt.detour json config sample</p><p>Use the menu above to navigate</p>
<p>Look at <a href="/c?id=1">Alice</a> or <a href="/user/42">Bob</a> to see a URL with a
redirect in action.</p><p>Just don't <a href="/getLost">get lost</a>!</p>
<button
  ng-show="$detour.getState('about')"
  ng-click="removeAbout()">Click here to remove the "about" state</button>

<button
  ng-show="!$detour.getState('about')"
  ng-click="addAbout()">Click here to add the "about" state</button>
